[submodule "engine"]
	path = engine
	url = https://github.com/Harrand/Topaz
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype
